html {
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Contrail One', cursive;
}

body {
  margin: 0;
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}



/* Styles apply to all pages */
.card-title {
  background-image: url('./images/title.png');
  color: white !important;
  background-size: cover  !important;
  background-repeat: no-repeat  !important;
  width: 100%  !important;
}



/* APP Styling */
.app-title {
  cursor: pointer !important;
  width: 58px !important;
  border-radius: 50% !important;
  border: 2px solid #fe005a !important;
  margin-top: 3px !important;
}

.app-background {
  background-color: #38003d !important;
}

.app-text {
  color: #fe005a !important;
}

.app-logo {
  height: 40px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}




/* LANDING style */
.land-banner {
  width: 100% !important;
  margin-top: 25px !important;
}

.land-who {
  width: 100% !important;
  margin-top: 45px !important;
  margin-bottom: 25px !important;
}

.land-club-btn {
  border-radius: 50% !important;
  width: 120px !important;
  height: 120px !important;
  position: relative !important;
  right: 9px !important;
  bottom: 9px !important;
}

.land-inline {
  display: inline-block !important;
}

.land-match-1 {
  position: relative !important;
  bottom: 15px !important;
  display: inline-block !important;
  margin-right: 10px !important;
}

.land-match-2 {
  display: inline-block !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  position: relative !important;
  bottom: 15px !important;
}

.land-match-3 {
  position: relative !important;
  bottom: 15px !important;
  display: inline-block !important;
  margin-left: 10px !important;
}

.land-logo {
  margin-top: 0px !important;
  text-align: center !important;
  margin-bottom: 25px !important;
}

.land-club-name {
  display: inline-block !important;
  position: relative !important;
  bottom: 10px !important;
  margin-left: 20px !important;
  color: white !important;
}

.land-history {
  padding: 5px 5px !important;
}

.land-team-welcome {
  text-decoration: underline !important;
  margin-bottom: 5px !important;
}

.land-team-box {
  background-color: whitesmoke !important;
  color: #38003d !important;
  padding-bottom: 13px !important;
  height: 284px !important;
}

.land-team-text {
  display: inline-block !important;
  margin-left: 10px !important;
}

.land-div {
  margin-left: 15% !important;
}

.land-text-color {
  color: lightgrey !important;
}

.land-next-match {
  margin-top: 30px !important;
  text-decoration: underline !important;
}

.land-team-banner {
  margin-bottom: 5px !important;
}

.land-welcome-box {
  border-top: 1px solid whitesmoke !important;
  border-bottom: 1px solid whitesmoke !important;
  height: 286px !important;
}

.land-card-text {
  padding: 0px !important;
}

.land-card-row {
  margin: 5px !important;
}

.land-title-img-div {
  margin-bottom: 6px !important;
}

.land-title-img {
  background-image: url('./images/title.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
}

.land-team-img {
  height: 284px !important;
}

.land-support {
  padding-top: 0 !important;
  padding-left: 5px !important;
}

.land-support-club {
  margin-top: 7px !important;
}

.land-flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}




/* LOGIN style */
.log-account {
  margin-top: 30px !important;
  margin-bottom: 10px !important;
  padding: 20px 0px !important;
  background-color: #00ffa1 !important;
}

.log-account img {
  width: 40% !important;
}

.log-ball {
  margin-top: 30px !important;
}

.log-card-title {
  color: white !important;
  background-image: url('./images/title.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 0px !important;
  padding: 16px !important;
}

.log-login {
  margin-bottom: 0px !important;
}

.log-paper {
  margin-bottom: 50px !important;
}

.log-paper-done {
  display: inline-block !important;
  color: #fe005a !important;
}

.log-paper-h5 {
  display: inline-block !important;
  margin-left: 15px !important;
}

.log-paper-div {
  margin-left: 50px !important;
}

.log-paper-header {
  background-color: #38003d !important;
  color: white !important;
  padding: 15px !important;
}

.log-paper-p {
  text-decoration: underline !important;
}

.log-inline {
  display: inline-block !important;
}

.log-epl-standings {
  display: inline-block !important;
  margin-bottom: 53px !important;
  margin-left: 15px !important;
}

.log-text-field {
  margin-top: 20px !important;
}

.log-btn-div {
  height: 74px !important;
  padding-top: 20px !important;
}

.log-reg-btn {
  margin-right: 30px !important;
}




/* PROFILE styles */
.pro-next {
  border: 1px solid lightgrey !important;
  margin-bottom: 0px !important;
}

.pro-jersey {
  width: 80% !important;
  margin-top: 25px !important;
}

.pro-table {
  font-size: 18px !important;
  color: #38003d !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pro-tab {
  background-color: #00ffa1 !important;
  color: #38003d !important;
}

.pro-inline {
  display: inline-block !important;
}

.pro-card-text {
  padding: 0px 0px !important;
}

.pro-banner {
  width: 100% !important;
  margin-top: 20px !important;
}

.pro-card {
  border: 1px solid lightgrey !important;
  margin-bottom: 30px !important;
}

.pro-info-title {
  margin-top: 18px !important;
  margin-bottom: 5px !important;
  text-decoration: underline !important;
}

.pro-info {
  height: 35px  !important;
  margin-bottom: 5px  !important;
}

.pro-send-btn {
  margin-bottom: 20px !important;
}

.pro-table-pad {
  padding-bottom: 0px !important;
}

.pro-table-avatar {
  padding-bottom: 0px !important;
  padding-left: 14px !important;
}

.pro-sms-title {
  padding: 16px !important;
  background-color: #38003d !important;
  color: white !important;
}

.pro-sms-table {
  margin-bottom: 5px !important;
}

.pro-sms-row {
  margin-top: 17px !important;
}

.pro-overview {
  margin-bottom: 0px !important;
  font-family: Contrail One, cursive !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-top: 0 !important;
}

.pro-m-table {
  margin-bottom: 5px !important;
}

.pro-field-time {
  width: 10rem !important;
}

.pro-field-team {
  width: 100% !important;
  margin-left: 50px !important;
}

.pro-field-local {
  margin-left: 30px !important;
}

.pro-field-v {
  width: 100% !important;
  margin-left: 40px !important;
}

.pro-field-visitor {
  margin-left: 20px !important;
}

.pro-field-team2 {
  width: 100% !important;
  margin-left: 20px !important;
}

.pro-news {
  overflow: auto !important;
  max-height: 1100px !important;
}

.pro-news-img {
  width: 140px !important;
  height: 140px !important;
  border-radius: 50% !important;
  margin-top: 15px !important;
}

.pro-news-box {
  border-bottom: 1px solid lightgrey !important;
  margin-top: 20px !important;
}





/* REGISTER styles */
.reg-club-btn {
  border-radius: 50% !important;
  min-width: 80px !important;
  height: 80px !important;
  position: relative !important;
  right: 9px !important;
  bottom: 8px !important;
}

.reg-details {
  margin-left: 10px !important;
}

.reg-submit-btn {
  margin-right: 20px !important;
  margin-bottom: 10px !important;
}

.reg-club {
  padding: 5px 0px !important;
  margin-top: 0px !important;
  background-color: #38003d !important;
  color: white !important;
}

.reg-club-img {
  margin-bottom: 20px !important;
}

.reg-details-title {
  background-image: url('./images/title.png');
  color: white !important;
  background-size: cover  !important;
  background-repeat: no-repeat  !important;
}

.reg-btn {
  margin-bottom: 10px;
}

.regKit {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 40px;
  margin-left: 11px !important;
  margin-top: 30px;
}

.regFormTitle {
  background-color: grey;
  color: white;
  padding: 16px 0 !important;
  margin-top: 0px !important;
}

.regForm {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.reg-phone {
  text-align: left;
}

.reg-support {
  padding: 15px 0px !important;
}

.reg-flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px !important;
}

.reg-create {
  margin-top: 30px !important;
  margin-bottom: 10px !important;
  padding: 20px 0px !important;
  background-color: #00ffa1 !important;
}

.reg-create-img {
  width: 58% !important;
}





.match-info {
  background-repeat: no-repeat;
  color: white !important;
}

.match-info-temp {
  background-image: url('./images/stadiums/man-u.jpg');
  background-repeat: no-repeat;
  color: white !important;
}

.land-header {
  margin-bottom: 20px;
  height: 75px !important;
}

.log-pad {
  padding: 16px 16px;
}

.clubs {
  width: 50px !important;
}

input[type=text]:focus:not([readonly]) {
  box-shadow: none;
}

input[type=password]:focus:not([readonly]) {
  box-shadow: none;
}
