html {
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Contrail One', cursive;
}

body {
  margin: 0;
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.flex-container-1 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.support {
  padding-top: 0 !important;
  padding-left: 5px;
}

.supportClub {
  margin-top: 7px;
}

.matchInfo {
  background-repeat: no-repeat;
  color: white !important;
}

.matchInfoTemp {
  background-image: url('./images/stadiums/man-u.jpg');
  background-repeat: no-repeat;
  color: white !important;
}

.landHeader {
  margin-bottom: 20px;
}

.cardTitle {
  color: white !important;
  background-image: url('./images/title.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.logPad {
  padding: 16px 16px;
}

.logCard {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.clubs {
  width: 50px !important;
}

.regBtn {
  margin-top: 30px;
  margin-bottom: 50px;
}

.regKit {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 40px;
  margin-left: 11px !important;
}

.regFormTitle {
  background-color: grey;
  color: white;
  padding: 16px 0 !important;
  margin-top: 0px !important;
}

.regForm {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.landFlatBtn {
  margin-top: 7px;
  border-radius: 50%;
  height: 99px;
  width: 99px;
}

.proClubNews {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
}

.titleImg {
  background-image: url('./images/title.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}


input[type=text]:focus:not([readonly]) {
  box-shadow: none;
}
input[type=password]:focus:not([readonly]) {
  box-shadow: none;
}
